body {
    margin: 0;
    padding: 0;
    background-color: azure;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-group input:focus,
textarea:focus {
    background-color: #f9f8f3;
}

.custom-file-label {
    background-color: transparent;
}

.form-control:focus {
    border-bottom: solid 1px;
    box-shadow: None;
}

